@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    padding-top: 4%;
    color: #fff;
    padding-left:10% ;
}

.container h1 img{
    width:50px;
}
   
.container h1 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.container button img{
    width: 25px;
    margin-right: 5px;

    
}
.container button{
    border: 0;
    outline: 0;
    color: #fff;
    background: linear-gradient(135deg, #9418fd, #571094);
    padding: 15px 25px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    margin: 30px 0 20px;
}
.input-box{
    position: relative;
    width: 100%;
    max-width: 500px;
    min-height: 150px;
    background: #fff;
    color: #333;
    padding: 20px;
    margin:20px 0;
    outline: none;
    border-radius: 5px;
   
    

}

.input-box img{
    width: 25px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}